<mat-sidenav-container class="sidenav-container">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="topnav" id="myTopnav">
    <a href="/" class="home"><img src="logo.jpg"></a>
    <a href="/Reservation">Réservation</a>
    <a href="/Disponibilite">Disponibilité</a>
    <a href="/Vehicule">Véhicules</a>
    <a href="/Contact">Contacts</a>
    <a href="/Propos">A propos</a>
    <a href="/compte" class="compte"><img src="https://static.thenounproject.com/png/219377-200.png"></a>
   

  </div>
  <router-outlet></router-outlet>
</mat-sidenav-container>
