<mat-sidenav-container class="sidenav-container">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="topnav" id="myTopnav">
  
		<div style="float:left">
    		<h1 class="logo"><a href="#"><img src="https://pbs.twimg.com/profile_images/671279875953676288/FSt6hsxT_400x400.jpg" height="auto" width="40"></a></h1>
      </div>
	  <div style="float:center">
	  <ul class="main-nav">
    <li><a href="/Reservation">Réservation</a><li>
    <li><a href="/Disponibilite">Disponibilité</a><li>
    <li><a href="/Vehicule">Véhicules</a><li>
    <li><a href="/Contact">Contacts</a><li>
    <li><a href="/Propos">A propos</a><li>
	</ul>
	</div>
	<div style="float:right">
    <a href="/compte" class="compte"><img src="https://static.thenounproject.com/png/219377-200.png" height="auto" width="50"></a>
	</div>

  </div>
  <router-outlet></router-outlet>
</mat-sidenav-container>
