<mat-sidenav-container class="sidenav-container">	
  <div id="wrapper">
		<div class="block left">
    	<a href="#"><img src="assets/img/logo.jpg" height="auto" width="200"></a>
		</div>
		<div class="block center">
		<ul id="menu">
			<li><a href="/Reservation">Réservation</a><li>
			<li><a href="/Disponibilite">Disponibilité</a><li>
			<li><a href="/Vehicule">Véhicules</a><li>
			<li><a href="/Contact">Contacts</a><li>
			<li><a href="/Propos">A propos</a><li>
		</ul>
		</div>
		<a href="/login" class="block right"><img src="https://static.thenounproject.com/png/219377-200.png" height="auto" width="65"></a>
	</div>

</mat-sidenav-container>
<router-outlet></router-outlet>
