<!-- Page permettant de visualiser les différents véhicules -->

<body>
	<div class="clio">
		<img src="https://www.ouicar.fr/media/2478898-product" height="250px" width="300px">
		<div id="div1" class="targetDiv">
			<p id="a">Consomation :</p>
			<div class="barre">
				<div class="jaugea">5L /100km</div>
			</div>
			<p id="a">Dernière Utilisation :</p>
			<p> 05/01/2019</p>
			<p id="a">Prochaine Utilisation :</p>
			<p> 20/01/2019 </p>
			<p id="a"> Type : </p>
			<p> Essence </p>
			<p id="a"> Kilométrage : </p>
			<p> 85 000 km </p>
			
		</div>
	</div>
	
	<div class="Scenic">
		<img src="https://www.ouicar.fr/media/1497049-product" height="250px" width="300px">
		<div id="div2" class="targetDiv">
			<p id="a">Consomation :</p>
			<div class="barre">
				<div class="jaugeb">6.2L /100km</div>
			</div>
			<p id="a">Dernière Utilisation :</p>
			<p> 05/01/2019</p>
			<p id="a">Prochaine Utilisation :</p>
			<p> 20/01/2019 </p>
			<p id="a"> Type : </p>
			<p> Essence </p>
			<p id="a"> Kilométrage </p>
			<p> 60 000 km </p>
			
		</div>
	</div>
	
	<div class="Kangoo">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Renault_Kangoo_I_Phase_I_dCi.JPG/767px-Renault_Kangoo_I_Phase_I_dCi.JPG" height="250px" width="300px">
		<div id="div3" class="targetDiv">
			<p id="a">Consomation :</p>
			<div class="barre">
				<div class="jaugec">5.8L /100km</div>
			</div>
			<p id="a">Dernière Utilisation :</p>
			<p> 05/01/2019</p>
			<p id="a">Prochaine Utilisation :</p>
			<p> 20/01/2019 </p>
			<p id="a"> Type : </p>
			<p> Essence </p>
			<p id="a"> Kilométrage </p>
			<p> 93 000 km </p>
			
		</div>
	</div>
</body>

