body{
   width:100%;
   height:auto;
   background: #CECECE;
   display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	justify-content: center;
	font-family:arial;

	

}

.barre {
    border:1px solid #666;
    width:200px;
    height:30px;
	border-radius: 10px;
	margin-left:15%;
}
.jaugea{
    background: #696969;
    height:100%;
    width:50%;
	border-radius: 10px;
}
.jaugeb{
    background: #696969;
    height:100%;
    width:68%;
	border-radius: 10px;
}

.jaugec{
    background: #696969;
    height:100%;
    width:58%;
	border-radius: 10px;
}

.Scenic{
	width:auto;
	background:#A9A9A9;

	text-align: center;
	margin: 5%;

}
.clio{
	width:auto;
	background:#A9A9A9;

	text-align: center;
	margin: 5%;
}
.Kangoo{
	width:auto;
	background:#A9A9A9;

	text-align: center;
	margin: 5%;
}
div{
		border-radius:17px;
}
#a{
	font-size:17px;
	font-weight:bold;
	
}