#mesreserv {
    display: flex;
    position: absolute;
    width: 95%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	background-image:url("https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661");

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px;
    background: #eee;
    border-radius: 20px;

}

input,select {
    outline: 0;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
}

div {
    outline: 0;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 300px;
}

button{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
	width: auto;
    height: auto;
	margin-right:50%;
	margin-left:35%;
}
form{
	background-color:#774A35;
	width: auto;
    height: auto;
	border: 5px;
	border-color:black;
    box-shadow: 2px 2px 12px #555;
	border-radius:20px;
	opacity: 0.95;

}

#objet{
	margin-right:30px;
}
#Passagers{
	margin-right:85px;
}
#GPS{
	margin-right:150px;
}
#vt1{
	margin-left:25px;
}
#vt2{
	margin-left:10px;
}
#vt3{
	margin-left:10px;
}
body{

	background-size: cover;
	background-position:bottom;
	position:relative;
	top:-20px;
	left:-6px;
	width:auto;
	padding-top:1%;
	overflow-x:hidden;
	width:120%;

}
#items{
	background-color:#774A35;
	width: auto;
    height: auto;
	border: 5px;
	border-color:black;
    box-shadow: 2px 2px 12px #555;
	border-radius:20px;
	opacity: 0.95;
	margin-bottom:50px;
}