<!-- formulaire de réservation  -->

<html>
<div id="Réservation">
  <form #f="ngForm" name="theForm" (submit)="addCar(f)">
  
  <div class="form-group">
      <label id="titre">Destination</label><br>
      <input type="text"
            class="form-control"
            name="Destination"
            [(ngModel)]="car.Destination"
            #Destination="ngModel"
            required>
	
    </div>
    
    <div class="form-group">
      <label id="titre">Date aller</label><br>
      <input type="date"
            class="form-control"
            name="dateAller"
            [(ngModel)]="car.dateAller"
            #dateAller="ngModel"
            required>
	
    </div>

   <div class="form-group">
      <label id="titre">Date Retour</label><br>
      <input type="date"
            class="form-control"
            name="dateRetour"
            [(ngModel)]="car.dateRetour"
            #dateRetour="ngModel"
            required>
    </div>

	<div class="form-group">
      <label id="objet"> Objet</label>
      <select
            class="form-control"
            name="objet"
            [(ngModel)]="car.objet"
            #Objet="ngModel"
            required>
			
		<option value="réunion"> réunion </option>
		<option value="congrès"> congrès </option>
		<option value="visite"> visite des stagiaires </option>
		<option value="autres"> autre </option>
		</select>
    </div>
	
	<div id="form-group">
      <label id="Passagers">Passagers</label>
      <select
            class="form-control"
            name="Passagers"
            [(ngModel)]="car.Passagers"
            #Passagers="ngModel"
            required>
			
		<option value="0"> 0 </option>			
		<option value="1"> 1 </option>
		<option value="2"> 2 </option>
		<option value="3"> 3 </option>
		<option value="4"> 4 </option>
		</select>
		
		
    </div>
	
	<div class="form-group">
      <label  id="GPS">GPS</label>
      <input type="checkbox"
            class="form-control"
            name="gps"
			id="gpda"
            [(ngModel)]="car.gps"
            #gps="ngModel"
			value="GPS">
            
    </div>
	
	<div class="form-group">
	  <label id="Voiture">Voiture :</label><br><br>
	  
      <label id="vt1">Clio</label>
      <input type="radio"
            class="form-control"
            name="voiture"
            [(ngModel)]="car.voiture"
            #voiture="ngModel"
			value="Clio"
            required>
            
   
	<label id="vt2">kangoo</label>
      <input type="radio"
            class="form-control"
            name="voiture"
            [(ngModel)]="car.voiture"
            #voiture="ngModel"
			value="kangoo"
            required>
            
	<label id="vt3">scenic</label>
      <input type="radio"
            class="form-control"
            name="voiture"
            [(ngModel)]="car.voiture"
            #voiture="ngModel"
			value="scenic"
            required>
	</div>


	<!-- boutton de soumission -->
    <button
        class="btn btn-primary btn-sm"
        [disabled]="f.invalid">Add</button>
  </form>
</div>
</html>