<div id="Réservation">
  <h2>Réservation</h2>
  <form #f="ngForm" name="theForm" (submit)="addCar(f)">
  
  <div class="form-group">
      <label>Destination</label>
      <input type="text"
            class="form-control"
            name="Destination"
            [(ngModel)]="car.Destination"
            #Destination="ngModel"
            required>
	
    </div>
  
  
    <div class="form-group">
      <label>Date aller</label>
      <input type="date"
            class="form-control"
            name="dateAller"
            [(ngModel)]="car.dateAller"
            #dateAller="ngModel"
            required>
	
    </div>

   <div class="form-group">
      <label>Date aller</label>
      <input type="date"
            class="form-control"
            name="dateRetour"
            [(ngModel)]="car.dateRetour"
            #dateRetour="ngModel"
            required>
    </div>

	<div class="form-group">
      <label>objet</label>
      <select
            class="form-control"
            name="objet"
            [(ngModel)]="car.objet"
            #Objet="ngModel"
            required>
			
		<option value="spageti"> spageti </option>
		<option value="spagaeti"> spagaeti </option>
		<option value="spagreti"> spagreti </option>
		</select>
    </div>
	
	<div class="form-group">
      <label>Passagers</label>
      <select
            class="form-control"
            name="Passagers"
            [(ngModel)]="car.Passagers"
            #Passagers="ngModel"
            required>
			
		<option value="0"> 0 </option>			
		<option value="1"> 1 </option>
		<option value="2"> 2 </option>
		<option value="3"> 3 </option>
		<option value="4"> 4 </option>
		</select>
		
		
    </div>
	
	<div class="form-group">
      <label>GPS</label>
      <input type="checkbox"
            class="form-control"
            name="gps"
            [(ngModel)]="car.gps"
            #gps="ngModel"
			value="GPS"
            required>
            
    </div>
	
	<div class="form-group">
	  <label>Voiture :</label>
      <label>Clio</label>
      <input type="radio"
            class="form-control"
            name="voiture"
            [(ngModel)]="car.voiture"
            #voiture="ngModel"
			value="Clio"
            required>
            
   
	<label>kangoo</label>
      <input type="radio"
            class="form-control"
            name="voiture"
            [(ngModel)]="car.voiture"
            #voiture="ngModel"
			value="kangoo"
            required>
            
	<label>scenic</label>
      <input type="radio"
            class="form-control"
            name="voiture"
            [(ngModel)]="car.voiture"
            #voiture="ngModel"
			value="scenic"
            required>
	</div>



    <button
        class="btn btn-primary btn-sm"
        [disabled]="f.invalid">Add</button>
  </form>
</div>